
*{
	margin:0px;
	padding:0px;
	}



h1{
	font-size: 40px;
	text-align:center;
	font-weight: bold;
	}




h3{
	font-size:25px;
	line-height: 50px;
	}	


p{font-size: 20px;

	}

body{
	background-image: url("../images/cave.jpg");
}

#container{	
	max-width:1000px;
	height:1000px;
	margin:20px auto;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;	
	background-size:1000px 1000px;
	

}

img { height:200px;
	width:150px;
	padding:20px;
	cursor:pointer; cursor:hand;
}

.crystal{
	display:inline-block;
}


#scoreBoard {
	text-align:center;
	margin-top:20px;
	line-height: 50px;
	color:white;
	margin-bottom:30px;
}
		

