
*{
	margin:0px;
	padding:0px;
}

h1{
	font-size: 40px;
	text-align:center;
}

h3{
	font-size:25px;
	line-height: 50px;
}

#container{	
	max-width:1000px;
	height:1000px;
	margin:20px auto;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;	
	background-size:1000px 1000px;
	

}

img { height:200px;
	width:150px;
	padding:20px;
}

.crystal{
	display:inline-block;
}


#scoreBoard {
	text-align:center;
	margin-top:20px;
	line-height: 30px;

}
		

#CompNumber	{
	text-align:center;
	margin-top:20px;
		}

		
#playerNumber{
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
		}